<div class="section-container">
  <div class="container">
    <h2>Login Activity</h2>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div id="chart-active-users"></div>
  </div>
</div>

<script>
  // TODO: use a god damned ActionCable. this is terrible.
  var active_date = <%= raw(@active_date) %>;

  var active_30 = <%= raw(@active_30) %>;
  var active_60 = <%= raw(@active_60) %>;
  var active_90 = <%= raw(@active_90) %>;
</script>
