<div class="section-container">
  <div class="container">
    <h2>User Activity</h2>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div id="chart"></div>
  </div>
</div>
