.section-header {
  text-align: center;
}

.story-stats {
  display: flex;
  justify-content: center;

  .story-stats__stat {
    background-color: #fdfdfd;
    border-radius: 3px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    text-align: center;
    width: 260px;
    transition: box-shadow 50ms;
  }

  .story-stats__stat:hover {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
  }

  h3 {
    margin: 0;
  }

  h4 {
    color: #5d5d5d;
    font-size: 1.20rem;
  }
}

.section-container {
  margin: 2rem 0;
}

.c3-axis-y tspan {
  font-size: 14px;
}

.c3-axis-x tspan {
  font-size: 14px;
}

.c3-legend-item {
  font-size: 14px;
}
